<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Futesh" connectionString="Server=192.168.10.76; User Id=sa; Password=sa"/>
  </connectionStrings>
  <appSettings>
    <add key="Interval" value="5"/>
    <add key="DeleteErrorMessage" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
