<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Visor Eventos Windows" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" source="Indigo Crystal" formatter="Formato texto" log="Indigo Log" machineName="." traceOutputOptions="None"/>
      <add name="Archivo Plano" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" fileName="trace.log" header="---------------- CABECERA ----------------------" footer="---------------- DETALLE ------------------------" formatter="Formato texto"/>
      <add name="Base de Datos" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" databaseInstanceName="Cadena Conexion SQL" writeLogStoredProcName="WRITELOG" addCategoryStoredProcName="ADDCATEGORY" formatter="Formato texto"/>
      <add name="Correo Externo" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" toAddress="oscar_ivan_sierra@hotmail.com" fromAddress="Logging@medilaser.com.co" subjectLineStarter="Reporte Log -" subjectLineEnder="" smtpServer="smtp.gmail.com" smtpPort="587" formatter="Formato texto" authenticationMode="UserNameAndPassword" useSSL="true" userName="medilaser3047@gmail.com" password="medilaser2009"/>
      <add name="Correo Interno" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" toAddress="oscarsierra@medilaser.com.co" fromAddress="josesierra@medilaser.com.co" subjectLineStarter="Reporte Log -" subjectLineEnder="" smtpServer="NVA-EXC01.medilaser.sa" formatter="Formato texto" authenticationMode="WindowsCredentials" useSSL="false" userName="" password=""/>
      <add name="MSMQ" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" queuePath=".\Private$\Indigo" formatter="Formato texto" messagePriority="High" recoverable="true" useAuthentication="false" useDeadLetterQueue="true" transactionType="Single"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" template="Fecha: {timestamp}{newline}
Mensaje: {message}{newline}
Categoria: {category}{newline}
Prioridad: {priority}{newline}
Id evento: {eventid}{newline}
Nivel: {severity}{newline}
Titulo:{title}{newline}
PC Cliente: {localMachine}{newline}
Dominio de la APP: {localAppDomain}{newline}
Id Proceso: {localProcessId}{newline}" name="Formato texto"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Visor Eventos Windows"/>
        </listeners>
      </add>
      <add switchValue="ActivityTracing" name="Trazas">
        <listeners>
          <add name="Visor Eventos Windows"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" autoFlush="false" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Visor Eventos Windows"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Visor Eventos Windows"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="Cadena Conexion SQL"/>
  <connectionStrings>
    <add name="Cadena Conexion SQL" connectionString="Database=GENESIS;Server=192.168.50.10;User Id=ivan;Password=sierra" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <instrumentationConfiguration performanceCountersEnabled="true" eventLoggingEnabled="true" applicationInstanceName="Indigo Instrumentacion"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
