<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ssindigoqas.database.windows.netINDIGO888" connectionString="XpoProvider=MSSqlServer;data source=ssindigoqas.database.windows.net;user id=qasIndigo;password=pRu3b4$Ind1g0;initial catalog=INDIGO888;Persist Security Info=true" />
    </connectionStrings>
</configuration>