<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ssindigodev.database.windows.netINDIGO999" connectionString="XpoProvider=MSSqlServer;data source=ssindigodev.database.windows.net;user id=dbaIndigo;password=%FY!4%k4p;initial catalog=INDIGO999;Persist Security Info=true" />
    </connectionStrings>
</configuration>