<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
      
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttp_Endpoint" />
                <binding name="basicHttp_Endpoint_CommonERP" />
                <binding name="basicHttp_Endpoint_Glosas" />
                <binding name="BasicHttpBinding_IService" />
                <binding name="basicHttp_Endpoint_Accounting" />
                <binding name="basicHttp_Endpoint_Payments" />
                <binding name="basicHttp_Endpoint_Contract" />
                <binding name="basicHttp_Endpoint_InteropCost" />
                <binding name="basicHttp_Endpoint_MedicalFees" />
                <binding name="basicHttp_Endpoint_FileManager" />
                <binding name="basicHttp_Endpoint_Common" />
                <binding name="basicHttp_Endpoint_DocumentalSystem" messageEncoding="Mtom" />
                <binding name="basicHttp_Endpoint_Payments1" />
                <binding name="BionexoInterfaceBinding" />
                <binding name="basicHttp_Endpoint_Indexing" />
                <binding name="basicHttp_Endpoint_Glosas1" />
                <binding name="basicHttp_Endpoint_Taxes" />
                <binding name="basicHttp_Endpoint_CommonERP1" />
                <binding name="basicHttp_Endpoint_Inventory1" />
                <binding name="basicHttp_Endpoint_Accounting1" />
                <binding name="basicHttp_Endpoint_Authorization" />
                <binding name="basicHttp_Endpoint_Security" />
                <binding name="basicHttp_Endpoint_SecurityDefault" />
                <binding name="basicHttp_Endpoint_Maintenance" />
                <binding name="basicHttp_Endpoint_Budget" />
                <binding name="VIEERPIntegrationEndPoint">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="basicHttps_Endpoint_Billing">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Billing1">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Inventory">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Contract">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Budget">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Payments">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Accounting">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Authorization">
                    <security mode="Transport" />
                </binding>
                <binding name="basic_Endpoint_ElectronicDocuments" />
                <binding name="basicHttps_Endpoint_ElectronicDocuments">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Glosas">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_Maintenance">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_MedicalFees">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttps_Endpoint_CommonERP">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_Inventory" />
                <binding name="basicHttps_Endpoint_Inventory1">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_Inventory2" />
                <binding name="basicHttps_Endpoint_Inventory2">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_Admissions" />
                <binding name="basicHttps_Endpoint_Admissions">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_FixedAssets" />
                <binding name="basicHttps_Endpoint_FixedAssets">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_MixingStation" />
                <binding name="basicHttps_Endpoint_MixingStation">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_Portfolio" />
                <binding name="basicHttps_Endpoint_Portfolio">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_AccountManagement" />
                <binding name="basicHttps_Endpoint_AccountManagement">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_Crystal" />
                <binding name="basicHttps_Endpoint_Crystal">
                    <security mode="Transport" />
                </binding>
                <binding name="basicHttp_Endpoint_Cost" />
                <binding name="basicHttps_Endpoint_Cost">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IBillingService" />
                <binding name="BasicHttpBinding_ITreasuryService" />
                <binding name="BasicHttpBinding_ISecurityService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcp_Endpoint_Glosas">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_CommonERP">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_DocumentalSystem">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Common">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Inventory">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_InteropCost">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Taxes">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Inventory1">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Common1">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Authorization">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Security">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_SecurityDefault">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Maintenance">
                    <security mode="None" />
                </binding>
                <binding name="netTcp_Endpoint_Budget">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="wsHttp_Endpoint_CommonERP">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_InteropCost">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_FileManager">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_Common">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_DocumentalSystem" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_Indexing">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_Taxes">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_Inventory1">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_Authorization">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_Security">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_SecurityDefault">
                    <security mode="None" />
                </binding>
                <binding name="wsHttps_Endpoint_SecurityDefault">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="wsHttp_Endpoint_Maintenance">
                    <security mode="None" />
                </binding>
                <binding name="wsHttp_Endpoint_Budget">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/XpoGate.svc/basicHttp"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint"
                contract="IXpoGate" name="basicHttp_Endpoint" />
            <endpoint address="http://indigocrystalazure.cloudapp.net/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="IndigoAzureService.IService" name="BasicHttpBinding_IService" />
            <endpoint address="net.tcp://naujoyamat-dev/ServiceEntity/Glosas.svc"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Glosas"
                contract="IndigoReference.Glosas.IGlosasService" name="netTcp_Endpoint_Glosas" />
            <endpoint address="net.tcp://naujoyamat-dev/ServiceEntity/CommonERP.svc"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_CommonERP"
                contract="IndigoReference.CommonERP.ICommonERPService" name="netTcp_Endpoint_CommonERP" />
            <endpoint address="net.tcp://naujoyamat-dev/ServiceDocumentalSystem/DocumentalSystem.svc"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_DocumentalSystem"
                contract="IndigoReference.DocumentalSystem.IDocumentalSystemService"
                name="netTcp_Endpoint_DocumentalSystem" />
            <endpoint address="http://localhost/ServiceEntity/CommonERP.svc/basicHttpCommonERP"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_CommonERP"
                contract="IndigoReference.CommonERP.ICommonERPService" name="basicHttp_Endpoint_CommonERP" />
            <endpoint address="http://localhost/ServiceEntity/CommonERP.svc/wsHttpCommonERP"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_CommonERP"
                contract="IndigoReference.CommonERP.ICommonERPService" name="wsHttp_Endpoint_CommonERP" />
            <endpoint address="net.tcp://developer-iis.indigo.nva/ServiceEntity/Common.svc/netTcpCommon"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Common"
                contract="IndigoReference.Common.ICommonService" name="netTcp_Endpoint_Common" />
            <endpoint address="http://localhost:9000/Accounting.svc/basicHttpAccounting"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Accounting"
                contract="IndigoReference.Accounting.IAccountingService" name="basicHttp_Endpoint_Accounting" />
            <endpoint address="http://localhost:9000/Accounting.svc/wsHttpAccounting"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Accounting"
                contract="IndigoReference.Accounting.IAccountingService" name="wsHttp_Endpoint_Accounting" />
            <endpoint address="http://vmindigoavd-0.iaasad.indigo.ms:8384/ServiceEntity/Payments.svc/basicHttpPayments"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Payments"
                contract="IndigoReference.Payments.IPaymentsService" name="basicHttp_Endpoint_Payments" />
            <endpoint address="http://c10007:9000/ServiceEntity/Contract.svc/basicHttpContract"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Contract"
                contract="IndigoReference.Contract.IContractService" name="basicHttp_Endpoint_Contract" />
            <endpoint address="http://localhost:9000/ServiceEntity/InteropCost.svc/basicHttpInteropCost"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_InteropCost"
                contract="IndigoReference.InteropCost.IInteropCostService"
                name="basicHttp_Endpoint_InteropCost" />
            <endpoint address="http://localhost:9000/ServiceEntity/InteropCost.svc/wsHttpInteropCost"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_InteropCost"
                contract="IndigoReference.InteropCost.IInteropCostService"
                name="wsHttp_Endpoint_InteropCost" />
            <endpoint address="http://its10008:9000/ServiceEntity/MedicalFees.svc/basicHttpMedicalFees"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_MedicalFees"
                contract="IndigoReference.MedicalFees.IMedicalFeesService"
                name="basicHttp_Endpoint_MedicalFees" />
            <endpoint address="http://localhost:9000/FileManager.svc/basicHttpFileManager"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_FileManager"
                contract="IndigoReference.FileManager.IFileManagerService"
                name="basicHttp_Endpoint_FileManager" />
            <endpoint address="http://localhost:9000/FileManager.svc/wsHttpFileManager"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_FileManager"
                contract="IndigoReference.FileManager.IFileManagerService"
                name="wsHttp_Endpoint_FileManager" />
            <endpoint address="http://localhost:9999/ServiceEntity/Common.svc/basicHttpCommon"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Common"
                contract="IndigoReference.Common.ICommonService" name="basicHttp_Endpoint_Common" />
            <endpoint address="http://localhost:9999/ServiceEntity/Common.svc/wsHttpCommon"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_Common"
                contract="IndigoReference.Common.ICommonService" name="wsHttp_Endpoint_Common" />
            <endpoint address="http://localhost:9003/DocumentalSystem.svc/basicHttpDocumentalSystem"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_DocumentalSystem"
                contract="IndigoReference.DocumentalSystem.IDocumentalSystemService"
                name="basicHttp_Endpoint_DocumentalSystem" />
            <endpoint address="http://localhost:9003/DocumentalSystem.svc/wsHttpDocumentalSystem"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_DocumentalSystem"
                contract="IndigoReference.DocumentalSystem.IDocumentalSystemService"
                name="wsHttp_Endpoint_DocumentalSystem" />
            <endpoint address="http://bionexo-sandbox-co.bionexo.com/bionexo-wsEAR-bionexo-wsn/BionexoBean"
                binding="basicHttpBinding" bindingConfiguration="BionexoInterfaceBinding"
                contract="IndigoReference.Bionexo.BionexoInterface" name="BionexoPort" />
            <endpoint address="http://localhost:9002/Indexing.svc/basicHttpIndexing"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Indexing"
                contract="IndigoReference.Indexing.IIndexing" name="basicHttp_Endpoint_Indexing" />
            <endpoint address="http://localhost:9002/Indexing.svc/wsHttpIndexing"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_Indexing"
                contract="IndigoReference.Indexing.IIndexing" name="wsHttp_Endpoint_Indexing" />
            <endpoint address="http://vmindigoavd-0.iaasad.indigo.ms:9000/ServiceEntity/Glosas.svc/basicHttpGlosas"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Glosas1"
                contract="IndigoReference.Glosas.IGlosasService" name="basicHttp_Endpoint_Glosas" />
            <endpoint address="http://localhost:9000/ServiceEntity/Taxes.svc/basicHttpTaxes"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Taxes"
                contract="IndigoReference.Taxes.ITaxesService" name="basicHttp_Endpoint_Taxes" />
            <endpoint address="http://localhost:9000/ServiceEntity/Taxes.svc/wsHttpTaxes"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_Taxes"
                contract="IndigoReference.Taxes.ITaxesService" name="wsHttp_Endpoint_Taxes" />
            <endpoint address="net.tcp://desktop-uriuu78:9001/ServiceEntity/Inventory.svc/netTcpInventory"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Inventory"
                contract="IndigoReference.Inventory.IInventoryService" name="netTcp_Endpoint_Inventory" />
            <endpoint address="net.tcp://diegorl.indigo.local:9001/ServiceEntity/InteropCost.svc/netTcpInteropCost"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_InteropCost"
                contract="IndigoReference.InteropCost.IInteropCostService"
                name="netTcp_Endpoint_InteropCost" />
            <endpoint address="net.tcp://diegorl.indigo.local:9001/ServiceEntity/Taxes.svc/netTcpTaxes"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Taxes"
                contract="IndigoReference.Taxes.ITaxesService" name="netTcp_Endpoint_Taxes" />
            <endpoint address="http://its10008:9000/ServiceEntity/CommonERP.svc/basicHttpCommonERP"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_CommonERP1"
                contract="IndigoReference.CommonERP.ICommonERPService" name="basicHttp_Endpoint_CommonERP1" />
            <endpoint address="http://localhost:9999/ServiceEntity/Inventory.svc/basicHttpInventory"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Inventory1"
                contract="IndigoIntegrationServiceReference.IInventoryService"
                name="basicHttp_Endpoint_Inventory1" />
            <endpoint address="http://localhost:9999/ServiceEntity/Inventory.svc/wsHttpInventory"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_Inventory1"
                contract="IndigoIntegrationServiceReference.IInventoryService"
                name="wsHttp_Endpoint_Inventory1" />
            <endpoint address="net.tcp://desktop-fi54bma:9999/ServiceEntity/Inventory.svc/netTcpInventory"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Inventory1"
                contract="IndigoIntegrationServiceReference.IInventoryService"
                name="netTcp_Endpoint_Inventory1" />
            <endpoint address="http://its017:9000/ServiceEntity/Accounting.svc/basicHttpAccounting"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Accounting1"
                contract="IndigoReference.Accounting.IAccountingService" name="basicHttp_Endpoint_Accounting1" />
            <endpoint address="net.tcp://desktop-fi54bma:9999/ServiceEntity/Common.svc/netTcpCommon"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Common1"
                contract="IndigoReference.Common.ICommonService" name="netTcp_Endpoint_Common1" />
            <endpoint address="http://its101:9000/ServiceEntity/Authorization.svc/basicHttpAuthorization"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Authorization"
                contract="IndigoReference.Authorization.IAuthorizationService"
                name="basicHttp_Endpoint_Authorization" />
            <endpoint address="http://its101:9000/ServiceEntity/Authorization.svc/wsHttpAuthorization"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_Authorization"
                contract="IndigoReference.Authorization.IAuthorizationService"
                name="wsHttp_Endpoint_Authorization" />
            <endpoint address="net.tcp://its101:9000/ServiceEntity/Authorization.svc/netTcpAuthorization"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Authorization"
                contract="IndigoReference.Authorization.IAuthorizationService"
                name="netTcp_Endpoint_Authorization" />
            <endpoint address="http://localhost:9000/ServiceEntity/Security.svc/basicHttpSecurity"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Security"
                contract="IndigoReference.Security.ISecurityService" name="basicHttp_Endpoint_Security" />
            <endpoint address="http://localhost:9000/ServiceEntity/Security.svc/wsHttpSecurity"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_Security"
                contract="IndigoReference.Security.ISecurityService" name="wsHttp_Endpoint_Security" />
            <endpoint address="net.tcp://itb009:9001/ServiceEntity/Security.svc/netTcpSecurity"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Security"
                contract="IndigoReference.Security.ISecurityService" name="netTcp_Endpoint_Security" />
            <endpoint address="http://localhost:9000/ServiceSecurity/SecurityDefault.svc/basicHttpSecurityDefault"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_SecurityDefault"
                contract="IndigoReference.SecurityDefault.ISecurityService"
                name="basicHttp_Endpoint_SecurityDefault" />
            <endpoint address="http://localhost:9000/ServiceSecurity/SecurityDefault.svc/wsHttpSecurityDefault"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_SecurityDefault"
                contract="IndigoReference.SecurityDefault.ISecurityService"
                name="wsHttp_Endpoint_SecurityDefault" />
            <endpoint address="https://localhost:9005/ServiceSecurity/SecurityDefault.svc/wsHttpsSecurityDefault"
                binding="wsHttpBinding" bindingConfiguration="wsHttps_Endpoint_SecurityDefault"
                contract="IndigoReference.SecurityDefault.ISecurityService"
                name="wsHttps_Endpoint_SecurityDefault" />
            <endpoint address="net.tcp://localhost:9001/ServiceSecurity/SecurityDefault.svc/netTcpSecurityDefault"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_SecurityDefault"
                contract="IndigoReference.SecurityDefault.ISecurityService"
                name="netTcp_Endpoint_SecurityDefault" />
            <endpoint address="http://its101:9000/ServiceEntity/Maintenance.svc/basicHttpMaintenance"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Maintenance"
                contract="IndigoReference.Maintenance.IMaintenanceService"
                name="basicHttp_Endpoint_Maintenance" />
            <endpoint address="http://its101:9000/ServiceEntity/Maintenance.svc/wsHttpMaintenance"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_Maintenance"
                contract="IndigoReference.Maintenance.IMaintenanceService"
                name="wsHttp_Endpoint_Maintenance" />
            <endpoint address="net.tcp://its101:9000/ServiceEntity/Maintenance.svc/netTcpMaintenance"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Maintenance"
                contract="IndigoReference.Maintenance.IMaintenanceService"
                name="netTcp_Endpoint_Maintenance" />
            <endpoint address="http://its088:9000/ServiceEntity/Budget.svc/basicHttpBudget"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Budget"
                contract="IndigoReference.Budget.IBudgetService" name="basicHttp_Endpoint_Budget" />
            <endpoint address="http://its088:9000/ServiceEntity/Budget.svc/wsHttpBudget"
                binding="wsHttpBinding" bindingConfiguration="wsHttp_Endpoint_Budget"
                contract="IndigoReference.Budget.IBudgetService" name="wsHttp_Endpoint_Budget" />
            <endpoint address="net.tcp://its088:9000/ServiceEntity/Budget.svc/netTcpBudget"
                binding="netTcpBinding" bindingConfiguration="netTcp_Endpoint_Budget"
                contract="IndigoReference.Budget.IBudgetService" name="netTcp_Endpoint_Budget" />
            <endpoint address="https://appdevsbs.indigo.ms/VIEERPIntegration.svc"
                binding="basicHttpBinding" bindingConfiguration="VIEERPIntegrationEndPoint"
                contract="IndigoReference.SBS.IVIEERPIntegration" name="VIEERPIntegrationEndPoint" />
            <endpoint address="https://localhost:444/ServiceEntity/Inventory.svc/basicHttpsInventory"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Inventory"
                contract="IndigoReference.Inventory.IInventoryService" name="basicHttps_Endpoint_Inventory" />
            <endpoint address="https://localhost:4001/ServiceEntity/Contract.svc/basicHttpsContract"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Contract"
                contract="IndigoReference.Contract.IContractService" name="basicHttps_Endpoint_Contract" />
            <endpoint address="https://localhost:9001/ServiceEntity/Budget.svc/basicHttpsBudget"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Budget"
                contract="IndigoReference.Budget.IBudgetService" name="basicHttps_Endpoint_Budget" />
            <endpoint address="https://localhost:9002/ServiceEntity/Payments.svc/basicHttpsPayments"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Payments"
                contract="IndigoReference.Payments.IPaymentsService" name="basicHttps_Endpoint_Payments" />
            <endpoint address="https://localhost:9001/ServiceEntity/Accounting.svc/basicHttpsAccounting"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Accounting"
                contract="IndigoReference.Accounting.IAccountingService" name="basicHttps_Endpoint_Accounting" />
            <endpoint address="https://localhost:444/ServiceEntity/Authorization.svc/basicHttpsAuthorization"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Authorization"
                contract="IndigoReference.Authorization.IAuthorizationService"
                name="basicHttps_Endpoint_Authorization" />
            <endpoint address="http://its098:9000/ServiceEntity/ElectronicDocuments.svc/basicHttpElectronicDocuments"
                binding="basicHttpBinding" bindingConfiguration="basic_Endpoint_ElectronicDocuments"
                contract="IndigoReference.ElectronicDocuments.IElectronicDocumentsService"
                name="basic_Endpoint_ElectronicDocuments" />
            <endpoint address="https://localhost:9001/ServiceEntity/ElectronicDocuments.svc/basicHttpsElectronicDocuments"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_ElectronicDocuments"
                contract="IndigoReference.ElectronicDocuments.IElectronicDocumentsService"
                name="basicHttps_Endpoint_ElectronicDocuments" />
            <endpoint address="https://localhost:9001/ServiceEntity/Glosas.svc/basicHttpsGlosas"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Glosas"
                contract="IndigoReference.Glosas.IGlosasService" name="basicHttps_Endpoint_Glosas" />
            <endpoint address="https://localhost:444/ServiceEntity/Maintenance.svc/basicHttpsMaintenance"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Maintenance"
                contract="IndigoReference.Maintenance.IMaintenanceService"
                name="basicHttps_Endpoint_Maintenance" />
            <endpoint address="https://localhost:9001/ServiceEntity/MedicalFees.svc/basicHttpsMedicalFees"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_MedicalFees"
                contract="IndigoReference.MedicalFees.IMedicalFeesService"
                name="basicHttps_Endpoint_MedicalFees" />
            <endpoint address="https://localhost:9001/ServiceEntity/CommonERP.svc/basicHttpsCommonERP"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_CommonERP"
                contract="IndigoReference.CommonERP.ICommonERPService" name="basicHttps_Endpoint_CommonERP" />
            <endpoint address="http://its447:9000/ServiceEntity/Inventory.svc/basicHttpInventory"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Inventory"
                contract="IndigoReference.Inventory.IInventoryService" name="basicHttp_Endpoint_Inventory" />
            <endpoint address="https://localhost:9001/ServiceEntity/Inventory.svc/basicHttpsInventory"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Inventory1"
                contract="IndigoReference.Inventory.IInventoryService" name="basicHttps_Endpoint_Inventory1" />
            <endpoint address="http://its491:9000/ServiceEntity/Inventory.svc/basicHttpInventory"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Inventory2"
                contract="IndigoReference.Inventory.IInventoryService" name="basicHttp_Endpoint_Inventory2" />
            <endpoint address="https://localhost:9001/ServiceEntity/Inventory.svc/basicHttpsInventory"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Inventory2"
                contract="IndigoReference.Inventory.IInventoryService" name="basicHttps_Endpoint_Inventory2" />
            <endpoint address="http://its030:9000/ServiceEntity/Admissions.svc/basicHttpAdmissions"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Admissions"
                contract="IndigoReference.Admissions.IAdmissionsService" name="basicHttp_Endpoint_Admissions" />
            <endpoint address="https://localhost:9001/ServiceEntity/Admissions.svc/basicHttpsAdmissions"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Admissions"
                contract="IndigoReference.Admissions.IAdmissionsService" name="basicHttps_Endpoint_Admissions" />
            <endpoint address="http://its648:9000/ServiceEntity/FixedAssets.svc/basicHttpFixedAssets"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_FixedAssets"
                contract="IndigoReference.FixedAsset.IFixedAssetService" name="basicHttp_Endpoint_FixedAssets" />
            <endpoint address="https://localhost:9001/ServiceEntity/FixedAssets.svc/basicHttpsFixedAssets"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_FixedAssets"
                contract="IndigoReference.FixedAsset.IFixedAssetService" name="basicHttps_Endpoint_FixedAssets" />
            <endpoint address="http://its10008:9000/ServiceEntity/MixingStation.svc/basicHttpMixingStation"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_MixingStation"
                contract="IndigoReference.MixingStation.IMixingStationService"
                name="basicHttp_Endpoint_MixingStation" />
            <endpoint address="https://localhost:9001/ServiceEntity/MixingStation.svc/basicHttpsMixingStation"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_MixingStation"
                contract="IndigoReference.MixingStation.IMixingStationService"
                name="basicHttps_Endpoint_MixingStation" />
            <endpoint address="http://its60:9000/ServiceEntity/Portfolio.svc/basicHttpPortfolio"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Portfolio"
                contract="IndigoReference.Portfolio.IPortfolioService" name="basicHttp_Endpoint_Portfolio" />
            <endpoint address="https://localhost:9001/ServiceEntity/Portfolio.svc/basicHttpsPortfolio"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Portfolio"
                contract="IndigoReference.Portfolio.IPortfolioService" name="basicHttps_Endpoint_Portfolio" />
            <endpoint address="http://c-10010:9000/ServiceEntity/AccountManagement.svc/basicHttpAccountManagement"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_AccountManagement"
                contract="IndigoReference.AccountManagement.IAccountManagementService"
                name="basicHttp_Endpoint_AccountManagement" />
            <endpoint address="https://localhost:9001/ServiceEntity/AccountManagement.svc/basicHttpsAccountManagement"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_AccountManagement"
                contract="IndigoReference.AccountManagement.IAccountManagementService"
                name="basicHttps_Endpoint_AccountManagement" />
            <endpoint address="http://c-10010:9000/ServiceEntity/Crystal.svc/basicHttpCrystal"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Crystal"
                contract="IndigoReference.Crystal.ICrystalService" name="basicHttp_Endpoint_Crystal" />
            <endpoint address="https://localhost:9001/ServiceEntity/Crystal.svc/basicHttpsCrystal"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Crystal"
                contract="IndigoReference.Crystal.ICrystalService" name="basicHttps_Endpoint_Crystal" />
            <endpoint address="http://vmindiv2avd-0:9000/ServiceEntity/Cost.svc/basicHttpCost"
                binding="basicHttpBinding" bindingConfiguration="basicHttp_Endpoint_Cost"
                contract="IndigoReference.Cost.ICostService" name="basicHttp_Endpoint_Cost" />
            <endpoint address="https://localhost:9001/ServiceEntity/Cost.svc/basicHttpsCost"
                binding="basicHttpBinding" bindingConfiguration="basicHttps_Endpoint_Cost"
                contract="IndigoReference.Cost.ICostService" name="basicHttps_Endpoint_Cost" />
            <endpoint address="http://localhost:9010/Billing.svc/Billing.svc/basicHttpBilling"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingService"
                contract="IndigoReference.Billing.IBillingService" name="BasicHttpBinding_IBillingService" />
            <endpoint address="http://localhost:9010/Treasury.svc/Treasury.svc/basicHttpTreasury"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITreasuryService"
                contract="IndigoReference.Treasury.ITreasuryService" name="BasicHttpBinding_ITreasuryService" />
            <endpoint address="http://localhost:9010/Security.svc/Security.svc/basicHttpSecurity"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService"
                contract="IndigoReference.Security.ISecurityService" name="BasicHttpBinding_ISecurityService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
