<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <configProtectedData/>
  <dataConfiguration/>
  <instrumentationConfiguration/>
  <system.diagnostics/>
  <system.windows.forms/>
  <uri/>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="GenesisLog_Complete">
    <listeners>
      <add name="Listeners GenesisLog_Complete" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Genesis Log - Traza Completa" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" filter="Critical"/>
      <add name="Listeners GenesisMail_Complete" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="josesierra@medilaser.com.co" fromAddress="josepaez@medilaser.com.co" smtpServer="192.168.11.184" formatter="Text Formatter" authenticationMode="UserNameAndPassword" useSSL="true" userName="NEIVA\JosePaez" password="Sistemas2010" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" filter="Critical"/>
      <add name="Listeners GenesisLog_UI" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Genesis Log - Traza Completa UI" formatter="Text Formatter 2" filter="Error"/>
      <add name="Listeners GenesisMail_UI" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="oscar_ivan_sierra@hotmail.com" fromAddress="oscar_ivan_sierra@hotmail.com" smtpServer="127.0.0.1" formatter="Text Formatter 2" authenticationMode="WindowsCredentials" useSSL="true" userName="" password="" traceOutputOptions="Timestamp" filter="Error"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}" name="Text Formatter 2"/>
    </formatters>
    <categorySources>
      <add switchValue="Critical" name="GenesisLog_Complete">
        <listeners>
          <add name="Listeners GenesisLog_Complete"/>
          <add name="Listeners GenesisMail_Complete"/>
        </listeners>
      </add>
      <add switchValue="Error" name="GenesisLog_UI">
        <listeners>
          <add name="Listeners GenesisLog_UI"/>
          <add name="Listeners GenesisMail_UI"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Listeners GenesisLog_Complete"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="UIPolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Exception UI Name" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="GenesisLog_UI" eventId="100" severity="Error" title="Genesis Exception UI" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ServicePolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Exception Capa Servicios Name" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="GenesisLog_Complete" eventId="200" severity="Critical" title="Genesis Exception Capa Servicios" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ApplicationPolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Exception Capa Aplicacion Name" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="GenesisLog_Complete" eventId="300" severity="Critical" title="Genesis Exception Capa Aplicacion" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
              <add name="Wrap Aplicacion" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="Genesis - Control de Excepciones:&#xA;Capa de Aplicacion&#xA;Se ha Generado una Excepcion en la Capa de Aplicacion con el ID Numero: {handlingInstanceID}" wrapExceptionType="System.Transactions.TransactionException, System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="PersistencePolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Exception Capa Persistencia Name" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="GenesisLog_Complete" eventId="400" severity="Critical" title="Genesis Exception Capa Persistencia" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0"/>
              <add name="Wrap Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="Genesis - Control de Excepciones:&#xA;Capa de Persistencia&#xA;Se ha Generado una Excepcion en la Capa de Persistencia con el ID Numero: {handlingInstanceID}" wrapExceptionType="System.Data.SqlClient.SqlException, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=192.168.80.60; User Id=sa; Password=sa"/>
  </connectionStrings>
  <appSettings>
    <add key="VituelHost" value="127.0.0.1"/>
    <add key="VituelPort" value="27017"/>
    <add key="IndexingEnabled" value="true"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="Container" value=".\Private$\IndexedDocuments"/>
    <add key="PersistenciaMSMQ" value="true"/>
    <add key="containerSecurity" value="VIESECURITY"/>
    <add key="_PathMessageStore_" value="C:\ProgramData\Indigo Technologies\MessageStore"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <anonymousIdentification/>
    <authentication/>
    <authorization/>
    <clientTarget/>
    <customErrors/>
    <deviceFilters/>
    <fullTrustAssemblies/>
    <globalization/>
    <healthMonitoring/>
    <hostingEnvironment/>
    <httpCookies/>
    <httpHandlers/>
    <httpModules/>
    <identity/>
    <machineKey/>
    <membership/>
    <mobileControls/>
    <pages/>
    <partialTrustVisibleAssemblies/>
    <profile/>
    <roleManager/>
    <securityPolicy/>
    <sessionPageState/>
    <sessionState/>
    <siteMap/>
    <trace/>
    <trust level="Full"/>
    <urlMappings/>
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/"/>
    <webParts/>
    <webServices>
      <wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx"/>
    </webServices>
    <xhtmlConformance/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <caching>
      <cache/>
      <outputCache/>
      <outputCacheSettings/>
      <sqlCacheDependency/>
    </caching>
  </system.web>
  <system.serviceModel>
    <client/>
    <comContracts/>
    <diagnostics/>
    <extensions/>
    <routing/>
    <standardEndpoints/>
    <tracking/>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxBufferSize="200000000" maxReceivedMessageSize="200000000"/>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="basicHttpsBinding" maxBufferSize="200000000" maxReceivedMessageSize="200000000"/>
      </basicHttpsBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding" maxReceivedMessageSize="200000000">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="IndexingBehavior" name="DistributedServices.Indexing.Indexing">
        <endpoint address="basicHttpIndexing" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" name="basicHttp_Endpoint_Indexing" contract="DistributedServices.Indexing.IIndexing"/>
        <endpoint address="basicHttpsIndexing" binding="basicHttpsBinding" bindingConfiguration="basicHttpsBinding" name="basicHttp_Endpoint_Indexing" contract="DistributedServices.Indexing.IIndexing"/>
        <endpoint address="wsHttpIndexing" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding" name="wsHttp_Endpoint_Indexing" contract="DistributedServices.Indexing.IIndexing"/>
        <endpoint address="mexIndexing" binding="mexHttpBinding" name="mexHttp_Endpoint_Indexing" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IndexingBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" httpGetUrl="ServiceIndexing/"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="https" binding="basicHttpsBinding"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.net>
    <authenticationModules/>
    <connectionManagement/>
    <defaultProxy/>
    <requestCaching/>
    <settings/>
    <webRequestModules/>
    <mailSettings>
      <smtp/>
    </mailSettings>
  </system.net>
  <system.runtime.caching>
    <memoryCache/>
  </system.runtime.caching>
  <system.runtime.serialization>
    <dataContractSerializer/>
  </system.runtime.serialization>
  <system.serviceModel.activation>
    <diagnostics/>
    <net.pipe/>
  </system.serviceModel.activation>
  <system.transactions>
    <defaultSettings/>
  </system.transactions>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler/>
      <webServices>
        <authenticationService/>
        <jsonSerialization/>
        <profileService/>
        <roleService/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.xaml.hosting>
    <httpHandlers/>
  </system.xaml.hosting>
  <system.xml.serialization>
    <dateTimeSerialization/>
    <schemaImporterExtensions/>
    <xmlSerializer/>
  </system.xml.serialization>
</configuration>