<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <GenesisConfiguration>
    <Language>es-CO</Language>
    <UrlWebServer>http://localhost:9000/ServiceEntity/</UrlWebServer>
    <UrlXpoWebServer>http://localhost:9000/ServiceXPO/</UrlXpoWebServer>
    <UrlNotificationWebServer>http://localhost:9004/</UrlNotificationWebServer>
    <UrlDocumentalSystemWebServer>http://localhost:9000/ServiceDocumentalSystem/</UrlDocumentalSystemWebServer>
    <UrlIndexingWebServer>http://localhost:9002/</UrlIndexingWebServer>
    <ProtocolUrlWebServer>basicHttp</ProtocolUrlWebServer>
    <ProtocolUrlXpoWebServer>basicHttp</ProtocolUrlXpoWebServer>
    <ProtocolUrlDocumentalSystemWebServer>basicHttp</ProtocolUrlDocumentalSystemWebServer>
    <ProtocolUrlIndexingWebServer>basicHttp</ProtocolUrlIndexingWebServer>
    <ReportsPath>D:\Reports</ReportsPath>
    <LocalReportsPath>\\localhost\Users\Administrator\Desktop\Reports\Local</LocalReportsPath>
    <ServerReportsPath>\\localhost\Users\Administrator\Desktop\Reports\Remote</ServerReportsPath>
    <PathUpdates>D:\Updater</PathUpdates>
    <CheckForUpdates>False</CheckForUpdates>
    <LightweightVersion>True</LightweightVersion>
    <NotificationEnabled>False</NotificationEnabled>
    <TimeOutApp>-1</TimeOutApp>
    <DefaultCompanyContainerCode>08</DefaultCompanyContainerCode>
    <DefaultCompanyContainerName>Desarrollo</DefaultCompanyContainerName>
    <DefaultCompanyType>2</DefaultCompanyType>
    <City>368165</City>
  </GenesisConfiguration>
</DocumentElement>