<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <GenesisConfiguration>
    <Language>es-CO</Language>
    <UrlWebServer>http://localhost:9000/ServiceEntity/</UrlWebServer>
    <UrlXpoWebServer>http://localhost:9000/ServiceXPO/</UrlXpoWebServer>
    <UrlNotificationWebServer>http://notificaciones.indigo.ms/</UrlNotificationWebServer>
    <UrlDocumentalSystemWebServer>http://localhost:9000/ServiceDocumentalSystem/</UrlDocumentalSystemWebServer>
    <UrlIndexingWebServer>http://localhost:9000/ServiceIndexing/</UrlIndexingWebServer>
    <ProtocolUrlWebServer>basicHttp</ProtocolUrlWebServer>
    <ProtocolUrlXpoWebServer>basicHttp</ProtocolUrlXpoWebServer>
    <ProtocolUrlDocumentalSystemWebServer>basicHttp</ProtocolUrlDocumentalSystemWebServer>
    <ProtocolUrlIndexingWebServer>basicHttp</ProtocolUrlIndexingWebServer>
    <ReportsPath>c:\Reportes</ReportsPath>
    <LightweightVersion>False</LightweightVersion>
    <TimeOutApp>300</TimeOutApp>
    <DefaultCompanyContainerCode>51</DefaultCompanyContainerCode>
    <DefaultCompanyContainerName>Jersalud QA</DefaultCompanyContainerName>
    <DefaultCompanyType>1</DefaultCompanyType>
    <City>368148</City>
  </GenesisConfiguration>
</DocumentElement>