<validation>
  <type name="IndigoComponents.frmADTriage" defaultRuleset="ValidacionIndigo"
    assemblyName="Indigo.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="ValidacionIndigo">
      <properties>
        <property name="TRITENSIO">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="TRIFRECUC">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TRIFRECUR">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TRIAGETEM">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="TRIPESOKG">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede ser  Vacio" messageTemplateResourceType=""
            name="Not Null Validator" />
        </property>
        <property name="TALLAPACI">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="TRIALIALC">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Not Null Validator" />
        </property>
        <property name="TRIESTCON">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Estado de Conciencia No Puede Ser Vacio"
            name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="IndigoeHistorias.frmHCEvolucion" defaultRuleset="ValidacionUrgencias"
    assemblyName="Indigo.eHistorias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="ValidacionUrgencias">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial no Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura No Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionConsultaExterna">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionCirugia">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionHospitalizacion">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuena Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionUCAdulto">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionUCPediatrico">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionUCNeonatal">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="IndigoeHistorias.frmHCIngreso" defaultRuleset="ValidacionUrgencias"
    assemblyName="Indigo.eHistorias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="ValidacionUrgencias">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionConsultaExterna">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionCirugia">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionHospitalizacion">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionUCAdulto">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionUCPediatria">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="ValidacionUCNeonatal">
      <properties>
        <property name="TensionArterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La tension Arterial No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="FrecueniaCardiaca">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Cardiaca No puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="Temperatura">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Temperatura no Puede ser Vacia" name="Not Null Validator" />
        </property>
        <property name="SO2" />
        <property name="FrecuenciaRespiratoria">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Frecuencia Respiratoria No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="TallaUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Talla No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="PesoUrgencias">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Peso No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="IndigoComponents.ctrHCQXDescripcionQuirurgica" defaultRuleset="ValidacionDescripcionQuirurgica"
    assemblyName="Indigo.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="ValidacionDescripcionQuirurgica">
      <properties>
        <property name="ConteoMaterial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Conteo Material No Puede Ser Vacio" name="Not Null Validator" />
        </property>
        <property name="Compresas">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="Compresas No Puede Ser Vacio" name="Not Null Validator" />
        </property>
        <property name="Gasas">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="Gasas No Puede Ser Vacio" name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="IndigoComponents.ctrHCQXIntervencionPracticada" defaultRuleset="ValidacionQXInterpretada"
    assemblyName="Indigo.Components, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="ValidacionQXInterpretada">
      <properties>
        <property name="ClasificacionCirugia">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Clasificacion de la Cirugia No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="IndigoAdmisiones.frmADIngresos" defaultRuleset="ValidacionIngresos"
    assemblyName="Indigo.Admisiones, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="ValidacionIngresos">
      <!--<properties>
        <property name="NombrePaciente">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Nombre del Paciente No Puede Ser Vacio "
            name="Not Null Validator" />
        </property>
        <property name="Identificacion">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Identificacion No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="LugarExpedicion">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="el Lugar de Expedicion No Puede Ser Vacio"
            name="Not Null Validator" />
        </property>
        <property name="FechaAccidente">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Fecha del Accidente No Puede Ser Vacia"
            name="Not Null Validator" />
        </property>
        <property name="HoraAccidente">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Hora del Accidente No Puede Ser Vacia" name="Not Null Validator" />
        </property>
        <property name="Telefono">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Telefono No Puede Ser Vacio" name="Not Null Validator" />
        </property>
        <property name="Observaciones" />
      </properties>-->
    </ruleset>
  </type>

<type name="IndigoAdmisiones.frmADPacientes" defaultRuleset="ValidacionPacientes"
    assemblyName="Indigo.Admisiones, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="ValidacionPacientes">
      <properties>
        <property name="NivelEducativo">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Nivel Educativo No Puede Ser Vacio "
            name="Not Null Validator" />
        </property>
        <property name="Idioma">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Idioma No Puede Ser Vacio "
            name="Not Null Validator" />
        </property>
        <property name="Discapacidad">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Campo Discapacidad No Puede Ser Vacio "
            name="Not Null Validator" />
        </property>
        <property name="Creencia">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Campo Creencia No Puede Ser Vacio "
            name="Not Null Validator" />
        </property>
 <property name="Estrato">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Campo Estrato No Puede Ser Vacio "
            name="Not Null Validator" />
        </property>
 <property name="GrupoEspecial">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="El Campo Grupo Especial No Puede Ser Vacio "
            name="Not Null Validator" />
        </property>

      </properties>
    </ruleset>
  </type>
  </validation>
